* { margin:0;padding:0; }
body {
	font-family:"Roboto Thin",roboto,sans-serif;
}
p { margin: 1em 0; max-width: 40em; }
blockquote {
	padding-left: 1em;
	border-left: 4px solid #83b8bb;
	font-style: italic
}
h2 {
	font:55px/1.4em roboto-thin,roboto,sans-serif;
	text-transform: uppercase;
	&:before {
		content: "";
		background: url(/assets/img/plus.svg) 0 0 no-repeat;
		display: block;
		width: .7em;
		position: absolute;
		left: -.7em;
		height: .7em;
		background-size: cover;
		top: 0.7em;
	}
}
@media screen and (max-width: 600px) {
	h2 {font-size: 2em}
}
.float-right {
	float: right;
}

.col {
	margin:0 auto;
	padding:20px;
	max-width: 1000px;
	position: relative;
}
@media screen and (max-width: 600px) {
	.col {padding: 10px;}
}