* {
	margin:0;padding:0;
}
body {
	font-family:"Roboto Thin",roboto,sans-serif;
}
p { margin: 1em 0; max-width: 40em }
blockquote {
	padding-left: 1em;
	border-left: 4px solid #83b8bb;
	font-style: italic
}
h2 {
	font:55px/1.4em roboto-thin,roboto,sans-serif;
	text-transform: uppercase;
	&:before {
		content: "";
		background: url(img/plus.svg) 0 0 no-repeat;
		display: block;
		width: .7em;
		position: absolute;
		left: -.7em;
		height: .7em;
		background-size: cover;
		top: 0.7em;
	}
}
@media screen and (max-width: 600px) {
	h2 {font-size: 2em}
}

.header {
	background: #fff;
	text-transform: uppercase;
}
.nav,
.services {
	list-style: none;
}
.services li,
.nav li,
.partners li {
	display: inline-block;
	vertical-align: middle;
}
.col {
	margin:0 auto;
	padding:20px;
	max-width: 1000px;
	position: relative;
}
@media screen and (max-width: 600px) {
	.col {padding: 10px;}
}
.nav {
	position: absolute;
	top: 40px;
	right: 20px;
}
.nav a,
.nav a:visited {
	font: 14px/1.4em roboto-thin,roboto,sans-serif;
	color:#222;
	text-decoration: none;
	transition:all 0.3s ease 0s;
	padding: .3em;
	margin-left: 30px;
	border: 2px solid transparent;
}
@media screen and (max-width: 600px) {
	.nav {top:20px;}
	.nav a {margin-left: 10px;}
	.nav .home {display: none;}
}

.nav .current a {
	font-weight: bold
}
.nav .current a,
.nav a:hover {
	color:#FCD307;
}
.nav :not(.current):hover a {
	border-color: #FCD307;
}
.hero {
	background: #222 url(img/hero-couch.jpg) no-repeat;
	background-image: linear-gradient(
		rgba(0,10,5,.2),
		rgba(0,10,5,.4)
		), url(img/hero-couch.jpg);
	background-size: cover;
	min-height: 200px;
	min-height: 60vh;
	padding-top: 20px;
	padding-top: 10vh;
	color:#fff;
	font-size: 150%;
	text-shadow: rgba(0, 0, 0, 0.8) 1px 2px 2px;
	.col {
		max-width: 600px;
	}
}
.jumbo {
	text-transform: uppercase;
	font-size: 200%;
	margin-bottom: 0
}
.cta {
	color:#fff;
	background: rgba(0,0,0,.4);
	border:2px solid #fff;
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-size:60%;
	transition:all 0.3s ease 0s;
	&:hover {
		color: #FCD307;
		border-color: #FCD307;
	}
}
.section.services,
.section.partners {
	background:#83b8bb;
}
ul.services a {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	min-width: 120px;
	max-width: 180px;
	height: 140px;
	margin: 1em;
	font-size: 90%;
	color: #000;
	letter-spacing: 0.15em;
	text-decoration: none;
	text-transform: uppercase;
	&:before {
		content: "";
		display: block;
		position: relative;
		width: 100px;
		height: 100px;
		background: white;
		border-radius: 100%;
		margin: 0 auto 1em;
	}
}

@media screen and (max-width: 600px) {
	ul.services a {
		max-width: 150px;
	}
}

.partners img {
	max-width: 150px;
	width: 150px;
	margin: 10px
}

.footer,.contact {
	background: #333;
	color:#eee;
}
.contact {
	padding-top:40px;
	a {
		color:#fff
	}
}
.badges {
	float: right;
}
