.nav {
	position: absolute;
	top: 40px;
	right: 20px;
	list-style: none;
	li {
		display: inline-block;
		vertical-align: middle;
	}
	a,
	a:visited {
		font: 14px/1.4em roboto-thin,roboto,sans-serif;
		color:#222;
		text-decoration: none;
		transition:all 0.3s ease 0s;
		padding: .3em;
		margin-left: 30px;
		border: 2px solid transparent;
	}
	.current a {
		font-weight: bold
	}
	.current a,
	a:hover {
		color:#FCD307;
	}
	:not(.current):hover a {
		border-color: #FCD307;
	}
}

@media screen and (max-width: 600px) {
	.nav {top:20px;}
	.nav a {margin-left: 10px;}
	.nav .home {display: none;}
}
